.card{
    border: 2px solid rgba(128, 128, 128, 0.32);
    
    width: 400px;
    /* height: 500px; */
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    
    /* overflow: scroll; */
    /* box-sizing: border-box; */
    

}
.card-img{
    width:100%;
    border-radius: 15px;
    margin-top: 20px;
}
.text{
    text-align:center;
    margin: auto;
    
   
}
.title{
    margin-block-end: -10px;
    margin-block-start: -10px;
    text-decoration: underline rgba(85, 85, 85, 0.884);
    /* font-size: 20px; */
}
.btn{
    color: white;
    background-color: black;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px 50px;
    text-align: center;
    /* box-sizing: border-box; */
    text-decoration: none;

    display: inline-block;
    /* display: block; */
    
    
}

.rating{
    color: rgb(4, 4, 4);
    background-color: rgba(155, 254, 7, 0.269);
    display: inline-block;
    padding: 5px 7px;
    border-radius: 20px;
    
    
    
}
input{
    width: 20%;
    border-color: rgba(65, 65, 65, 0.533);
    padding: 5px;
    font-size: 12px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;

}

